@import url("https://fonts.googleapis.com/css2?family=Raleway:ital@1&display=swap");

.input {
  width: 100%;
  padding: 30px;
  font-size: 30pt;
  text-align: center;
  background-color: #02343f;
  border: none;
  outline: none;
  border-radius: 8px;
  color: #f0edcc;
}

.input-container {
  width: 50%;
  margin: 0 auto;
}

.text-container {
  width: 50%;
  margin: 0 auto;
  text-align: center;
}

.container {
  /* 상단에서 약간 간격을 줌 */
  margin-top: 150px;
  /* child element를 모두 중앙정렬 시킴 */
  text-align: center;
}

.text-result {
  /* 안의 text의 길이에 따라 width가 정해지도록 하기 위해서 */
  display: inline-block;
  /* ripple effect가 밖으로 튀어나오지 않도록 */
  overflow: hidden;
  /* element가 parent에서 벗어나지 못하게 */
  position: relative;
  font-family: "Raleway", sans-serif;
  margin-top: 50px;
  padding: 30px;
  color: #02343f;
  font-size: 25pt;
}

.test-dot {
  z-index: 5;
  position: absolute;
  width: 70px;
  height: 70px;
  /* 원으로 만들기 위해서 */
  border-radius: 9999px;
  background-color: #02343f;
  animation: 0.9s ease forwards ripple-effect;
}

@keyframes ripple-effect {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(10);
    opacity: 0.5;
  }
  100% {
    transform: scale(35);
    opacity: 0;
  }
}
